{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <hr>
    <div class="row text-light justify-content-center">
        <h2>Loot</h2>
    </div>
    <hr>
    <div class="row-12 justify-content-center">
        {% if bag_items %}
        <table class="table table-sm">
            <thead class="text-light">
                <tr>
                    <th>Item</th>
                    <th>Price</th>
                    <th class="text-center">Platform</th>
                    <th class="text-center w-25">Qty</th>
                </tr>
            </thead>

            {% for item in bag_items %}
            <tr class="text-light">
                <td>
                    <p>{{ item.product.name }}</p>
                    <img src="{{ item.product.image.url}}" width="25%" height="25%" class="mb-5 mt-2">
                </td>
                <td class="mt-5">
                    <p>£{{ item.product.price }}</p>
                </td>
                <td class="mt-5 text-center">
                    <p>{{ item.product.platform }}</p>
                </td>
                <td class="mt-5 text-center">
                    <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                        {% csrf_token %}
                        <input class="form-control form-control-sm qty_input text-center" type="number"
                        name="quantity" value="{{ item.quantity }}" min="1" max="99"
                        data-item_id="{{ item.item_id }}"
                        id="id_qty_{{ item.item_id }}">
                    </form>
                    <div class="row-12">
                        <a class="update-link text-primary"><small>Update</small></a>
                    </div>
                    <div class="row-12">
                        <a class="remove-item text-danger" id="remove_{{ item.item_id }}"><small>Remove</small>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
        <div class="row">
            {% else %}
            <h6 class="mb-5 text-light text-center">Your loot bag is empty</h6>
            {% endif %}
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <a class="text-primary" href="{% url 'products' %}">
            <h6 class="text-uppercase">Keep shopping</h6>
        </a>
        <a href="{% url 'checkout' %}" class="text-light ml-5">
            <h6><span class="text-uppercase">Secure Checkout</span><span class="icon"> <i
                        class="fas fa-lock"></i></span>
            </h6>
        </a>
    </div>
</div>
<hr>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">

// update qty
$('.update-link').click(function (e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })


    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken,
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })

const numInputs = document.querySelectorAll('input[type=number]')

numInputs.forEach(function(input) {
  input.addEventListener('change', function(e) {
    if (e.target.value == '') {
      e.target.value = 0
    }
  })
})
</script>
{% endblock %}