{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container text-light">
    <hr>
    <div class="row justify-content-center">
        <h2>Loot</h2>
    </div>
    <hr>

    <div class="row">
        <div class="col">
            {% if bag_items %}
            <table class="table table-sm">
                <thead class="text-light">
                    <tr>
                        <th>Games</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th class="text-center">Platform</th>
                        <th>Qty</th>
                    </tr>
                </thead>

                {% for item in bag_items %}
                <tr class="text-light">
                    <td>
                        <p class="mt-2">{{ item.product.name }}</p>
                        <img src="{{ item.product.image.url}}" width="25%" height="25%" class="mb-5 mt-2">
                        <h6>
                        <a class="text-uppercase text-danger" href="{% url 'adjust_bag' item.item_id%}">Drop 1 from your loot</a>
                        </h6>
                        <h6>
                            <a class="text-uppercase text-danger" href="{% url 'remove_from_bag' item.item_id%}">Drop all from your loot</a>
                            </h6>
                    </td>
                    <td class="mt-5">
                        <p>{{ item.product.description }}</p>
                    </td>
                    <td class="mt-5">
                        <p>£{{ item.product.price }}</p>
                    </td>
                    <td class="mt-5 text-center">
                        <p>{{ item.product.platform }}</p>
                    </td>
                    <td class="mt-5 text-center">
                        <p>{{ item.quantity }}</p>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <div>
            {% else %}
            <h6 class="text-center mb-5">Your loot bag is empty</h6>
            {% endif%}
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <a class="text-primary" href="{% url 'products' %}">
            <h6 class="text-uppercase">Keep shopping</h6>
        </a>
        <a href="" class="text-light ml-5">
            <h6><span class="text-uppercase">Secure Checkout</span><span class="icon"> <i
                        class="fas fa-lock"></i></span></h6>
        </a>
    </div>
</div>
<hr>
{% endblock %} -->