/* body */
body {
    background-color: rgb(0, 0, 0);
}
/* nav-bar */
#brand {
    padding-left: 0;
    padding-right: 0;
}

.navbar-brand {
    font-size: 40px;
}

.navbar-nav {
    font-size: 20px;
}

.navbar-toggler {
    background-color: white;
}

/* search bar */
.search-bar {
    border-radius: 0;
}
/* pulse for second nav-bar */
.pulse:hover {
    animation: pulse 1s infinite;
    animation-timing-function: linear;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}
/* backgrond image */
#background-image {
    height: 100%;
    width: 100%;
    image-resolution: 300dpi;
}
/* bag image */
#bag-image {
    margin-left: 8px;
}
/* toasts */
.message-container {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 999999999;
}

/*  */
#submit-button:hover span {
    text-decoration: underline;
}

/* stripe */
.StripeElement,
.stripe-style-input {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 0px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #000000;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}

/* underline profile button */
#profile-update-button:hover {
    text-decoration: underline;
}

/* oreder history */
.order-history {
    max-height: 416px;
    overflow-y: auto;
}

/* underline link */
.add-products-submit:hover {
    text-decoration: underline;
    opacity:0.6
}

/* change cursor to pointer on remive link */
#remove-item-link:hover {
cursor: pointer;
}

