
body {
    background-color: black;
}

#brand {
    padding-left: 0;
    padding-right: 0;
}

.navbar-brand {
    font-size: 40px;
}

.navbar-nav {
    font-size: 20px;
}

.navbar-toggler {
    background-color: white;
}

.search-bar {
    border-radius: 0;
}

.pulse:hover {
    animation: pulse 1s infinite;
    animation-timing-function: linear;   
  }
  
  @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
    }

#background-image {
    height: 100%;
    width: 100%;
}

