{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-compatible" content="ie=edge">
  <meta name="description" content="A UK based online store selling PS4, PS5, Xbox one, xbox series x and switch games, 
           consoles and accessories with free delivery">
  <meta name="keywords" content="PS4 games, PS5 games, Xbox One games, Xbox Series X games, Switch games
           PS4 consoles, PS5 consoles, Xbox One consoles, Xbox Series X consoles, Switch consoles
           PS4 accessories, PS5 accessories, Xbox One accessories, Xbox Series X accessories, Switch accessories
           gaming, online gaming, UK, free delivery">
  <script
  src="https://code.jquery.com/jquery-3.6.3.min.js"
  integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
  crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
    integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous">
  </script>

  <!-- Bootstrap CSS -->
  <Cache-Control: max-age=31536000>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
</Cache-Control:>

  <!-- Mailchimp -->
  <link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet" type="text/css">
  
  
  <style>
    #mc_embed_signup {
      background: #343a40;
      font: 14px Helvetica, Arial, sans-serif;
      width: 50%;
      margin-left: 25%;
    }

    #mce-success-response {
      color: white;
    }

    #mc_embed_signup .button {
      background-color: rgb(255, 255, 255);
    }
  </style>


  <!-- Stripe -->
  <script src="https://js.stripe.com/v3/"></script>

  <!-- toasts -->
  {% if messages %}
  <div class="message-container">
    {% for message in messages %}
    {% with message.level as level %}
    {% if level == 40 %}
    {% include 'includes/toasts/toast_error.html' %}
    {% elif level == 30 %}
    {% include 'includes/toasts/toast_warning.html' %}
    {% elif level == 25 %}
    {% include 'includes/toasts/toast_success.html' %}
    {% else %}
    {% include 'includes/toasts/toast_info.html' %}
    {% endif %}
    {% endwith %}
    {% endfor %}
  </div>
  {% endif %}
  
  <title>Game Hunter</title>
</head>

<body>

  <!-- first navbar-->
  <div class="container-fluid" id="brand">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <a class="navbar-brand text-light" href="{% url 'home' %}">Game Hunter</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active text-light" href="{% url 'home' %}">Home <span
              class="sr-only">(current)</span></a>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link text-light" href="#" data-toggle="dropdown" id="navbarDropdownMenuLinkMenu" aria-haspopup="true" aria-expanded="false">
                My Account
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkMenu">
                {% if user.is_authenticated %}
                <a class="dropdown-item" href="{% url 'profile' %}">{{ user.get_provider }} {{ user }}'s Profile</a>
                {% if user.is_superuser %}
                <a class="dropdown-item" href="{% url 'add_products' %}">Add Product</a>
                {% endif%}
                <a class="dropdown-item" href="{% url 'account_logout' %}">Log Out</a>
                {% else %}
                <a class="dropdown-item" href="{% url 'account_login' %}">Log In</a>
                <a class="dropdown-item" href="{% url 'account_signup' %}">Sign Up</a>
                {% endif %}
              </div>
            </li>
          </ul>
          <a href="{% url 'bag_view' %}" class="nav-item nav-link text-light">
            <p>
              {% if total %}
              £{{ total|floatformat:2 }}
              {% else %}
              £0.00
              {% endif %}
            </p>
          </a>
          <a href="{% url 'bag_view' %}"><img id="bag-image" alt="bag-image"
              src="{% static 'images/treasure-chest.png' %}" width="40" height="40"></a>
        </div>
      </div>
    </nav>
  </div>


  <!-- second navbar-->
  <div class="container-fluid-12">
    <div class="row-12">
      <nav class="navbar navbar-light bg-light navbar-expand-lg navbar-expand-md navbar-expand-sm">
        <div class="navbar-collapse justify-content-center">
          <ul class="navbar-nav">
            <li>
              <a class="nav-link text-dark pulse" href="{% url 'products' %}" aria-haspopup="true"
                aria-expanded="false">
                All Products
              </a>
            </li>
          </ul>
        </div>
<!-- games -->
        <div class="navbar-collapse justify-content-center" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link text-dark pulse" href="#" data-toggle="dropdown" id="navbarDropdownMenuLinkGames" aria-haspopup="true"
                aria-expanded="false">
                Games
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkGames">
                <a class="dropdown-item" href="{% url 'products' %}?category=Games">All Games</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=Games&platform=PS4">PS4</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=Games&platform=PS5">PS5</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=Games&platform=XBOX%20ONE">Xbox One</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=Games&platform=XBOX%20SERIES%20X">Xbox
                  series
                  x</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=Games&platform=SWITCH">Switch</a>
              </div>
            </li>
          </ul>
        </div>
<!-- consoles -->
        <div class="navbar-collapse justify-content-center">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link text-dark pulse" href="#" id="navbarDropdownMenuLinkConsoles" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Consoles
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkConsoles">
                <a class="dropdown-item" href="{% url 'products' %}?category=Consoles">All Consoles</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=Consoles&platform=PS4">PS4</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=Consoles&platform=PS5">PS5</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=Consoles&platform=XBOX%20ONE">Xbox One</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=Consoles&platform=XBOX%20SERIES%20X">Xbox
                  series x</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=Consoles&platform=SWITCH">Switch</a>
              </div>
            </li>
          </ul>
        </div>
<!-- accessories -->
        <div class="navbar-collapse justify-content-center">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link text-dark pulse" href="#" id="navbarDropdownMenuLinkAccessories" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Accessories
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkAccessories">
                <a class="dropdown-item" href="{% url 'products' %}?category=Accessories">All Accessories</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=Accessories&platform=PS4">PS4</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=Accessories&platform=PS5">PS5</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=Accessories&platform=XBOX%20ONE">Xbox
                  One</a>
                <a class="dropdown-item"
                  href="{% url 'products' %}?category=Accessories&platform=XBOX%20SERIES%20X">Xbox
                  series x</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=Accessories&platform=SWITCH">Switch</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
<!-- search bar -->
  <form method="GET" action="{% url 'products' %}">
    <div class="input-group mb-3">
      <input class="form-control search-bar" type="search" placeholder="Search" aria-label="Search" name="q">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary bg-light text-dark search-bar" type="button">Search</button>
      </div>
    </div>
  </form>
  {% block content %}
  {% endblock %}


  <!-- Footer -->
  <footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">

      <!-- Begin Mailchimp Signup Form -->
      <div class='row mailchimp' id="mc_embed_signup">
        <form
          action="https://herokuapp.us21.list-manage.com/subscribe/post?u=e68ee84ecda81795610516878&amp;id=770ac43f38&amp;f_id=008cc8e1f0"
          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
          target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <h2>Subscribe</h2>
            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
            <div class="mc-field-group">
              <label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
              </label>
              <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
              <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
            </div>
            <div id="mce-responses" class="clear foot">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                name="b_e68ee84ecda81795610516878_770ac43f38" tabindex="-1" value="">
            </div>
            <div class="optionalParent">
              <div class="clear foot">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                  class="button text-dark background-color">
                <p class="brandingLogo">
                  <a target="_blank" rel="noopener" href="http://eepurl.com/if26CL"
                    title="Mailchimp - email marketing made easy and fun"><img
                      src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg"
                      alt="mailchimp-image" width="200" height="100">
                    </a>
                </p>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!--End mc_embed_signup-->


      <!--Grid row-->
      <div class="row justify-content-center ">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h3 class="text-uppercase">Links</h3>

          <ul class="list-unstyled mb-0">
            <li>
              <a rel="sponsored" target="blank"
                href="https://www.privacypolicygenerator.info/live.php?token=ZO4YWaVPmOoEISrG2583PdegLrlifuTP"
                class="text-white">Privacy Policy</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(239, 238, 238, 0.2);">
      <a class="text-white" href="https://game-hunter-website.herokuapp.com/">game-hunter-website.herokuapp.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
  <script src="https://use.fontawesome.com/74287a9521.js"></script>
  <script src="https://kit.fontawesome.com/e81d17d39f.js" crossorigin="anonymous"></script>

  {% block postloadjs %}
  <script>
    $('.toast').toast('show');
  </script>
  <script src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
  <script>
    (function ($) {
      window.fnames = new Array();
      window.ftypes = new Array();
      fnames[0] = 'EMAIL';
      ftypes[0] = 'email';
      fnames[1] = 'FNAME';
      ftypes[1] = 'text';
      fnames[2] = 'LNAME';
      ftypes[2] = 'text';
      fnames[3] = 'ADDRESS';
      ftypes[3] = 'address';
      fnames[4] = 'PHONE';
      ftypes[4] = 'phone';
      fnames[5] = 'BIRTHDAY';
      ftypes[5] = 'birthday';
    }(jQuery));
    var $mcj = jQuery.noConflict(true);
  </script>
  {% endblock %}
</body>

</html>