{% extends "base.html" %}
{% load static %}

{% block content %}
{% if request.user.is_superuser %}
                                        
<div class="container-fluid">
    <div class="row justify-content-center text-light mb-5">
        <h2>Are you sure you want to delete <strong>{{ product.name }}</strong> from the store?</h2>
    </div>
    <div class="row justify-content-center text-light mb-5">
        <div class="col text-right">
            <h4>
                <a href="{% url 'products' %}" class="text-primary">Cancel</a>
            </h4>
            </div>
            <div class="col">
                <h4>
                    <a href="{% url 'delete_products' product.id %}" class="text-danger">Delete</a>
                </h4>
                </div>
    </div>
    <div class="row justify-content-center mb-5">
        <img class="card-img-top img-fluid w-25 h-25" src="{{ product.image.url }}" alt="{{ product.name }}">
    </div>
</div>
{% endif %}
{% endblock %}