{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-sm-2 col-md-4 text-center">
            {% if product.image %}
            <a href="{{ product.image.url }}" target="_blank">
                <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
            </a>
            {% else %}
            <a href="">
                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
            </a>
            {% endif %}
        </div>

        <div class="col-sm-10 col-md-8 text-light text-center">
            <p class="lead mb-0 font-weight-bold mt-5">{{ product.name }}</p>
            <hr>
            <p class="lead mb-0 font-weight-bold">{{ product.description }}</p>
            <hr>
            <p class="lead mb-0 font-weight-bold">£{{ product.price }}</p>
            <hr>
            <p class="lead mb-0 font-weight-bold">Platform: {{ product.platform }}</p>
            <hr>
            {% if product.category %}
            {% endif %}
        </div>
    </div>
</div>
<hr>
{% endblock %}